SERPAPI_KEY=

GIGACHAT_CREDENTIALS= 
GIGACHAT_SCOPE=

GIGACHAT_MODEL=

LANGCHAIN_TRACING_V2=
LANGCHAIN_ENDPOINT=
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=

OPENAI_API_KEY=

YC_API_KEY=
YC_FOLDER_ID=
YC_GPT_MODEL=
YC_SEARCH_API=


YANDEX_SEARCH_API_GENERATIVE= 
YANDEX_API_TOKEN=
YANDEX_FOLDER_ID=
YANDEX_API_KEY=

EMBEDDING_MODEL=
EMBEDDING_BASE_URL=
EMBEDDING_API_KEY=

ARTICLE_DIR="./articles"